@import url('https://fonts.googleapis.com/css2?family=Passero+One&family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;

    font-family: 'Roboto', sans-serif;
}

img {
    width: 100%;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100vh;
    
    background: radial-gradient(50% 89.4% at 50% 50%, #8CC63F 0%, #3B4806 100%);
}

.container {
    position: relative;
    width: 100%;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 8vh;
    top: 50vh;
    z-index: 1;

    opacity: 100;
    transition: opacity .2s, top .2s;
}

.start-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.myBtn {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    width: 252.14px;
    height: 52px;
    border: 0;
    cursor: pointer;

    background: rgba(0, 0, 0, 0);
    background-image: url(./assets/images/Start\ Game\ Btn.svg);
    background-size: cover;
}

.main {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 90%;
    max-width: 992px;
    height: 90vh;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 10vh;

    top: 32vh;
    transition: top .2s;

    font-family: 'Passero One', cursive;
    font-size: 2.5rem;
    color: #FFF500;
    text-align: center;

    text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    background-image: linear-gradient(180deg, #354200, #216501, #3B4806);
    background-clip: text;
    -webkit-text-stroke-color: transparent;
    -webkit-text-stroke-width: calc(4em / 16);
    -webkit-background-clip: text;
}

.game-arena {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 25vh;

    opacity: 0;
    z-index: 1;
    transition: opacity .2s, z-index .2s;
}

.player-move, 
.computer-move {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 257px;
    height: auto;
}

.round {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 257px;
    height: 181px;

    font-family: 'Passero One', cursive;
    font-size: 2.3rem;
    line-height: 2rem;
    color: #ffffff;

    text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    background-image: linear-gradient(180deg, #354200, #216501, #3B4806);
    background-clip: text;
    -webkit-text-stroke-color: transparent;
    -webkit-text-stroke-width: calc(2.5em / 16);
    -webkit-background-clip: text;
}

.round span {
    font-size: 4.5rem;
    line-height: 4rem;
}

.round-result {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 8%;

    opacity: 0;
    transition: opacity .2s;

    font-family: 'Passero One', cursive;
    font-size: 2rem;
    color: #FFF500;
    text-align: center;

    text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    background-image: linear-gradient(180deg, #354200, #216501, #3B4806);
    background-clip: text;
    -webkit-text-stroke-color: transparent;
    -webkit-text-stroke-width: calc(3em / 16);
    -webkit-background-clip: text;
}

.round-winner {
    width: 100%;
}

.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 32%;

    opacity: 0;
    transition: opacity .5s;
}

.vs-text {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 75px;
    height: 182px;

    font-family: 'Passero One', cursive;
    font-size: 3.2rem;
    line-height: 2rem;
    color: #ffffff;

    text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    background-image: linear-gradient(180deg, #354200, #216501, #3B4806);
    background-clip: text;
    -webkit-text-stroke-color: transparent;
    -webkit-text-stroke-width: calc(2.5em / 16);
    -webkit-background-clip: text;
}

.p_score-board-bg, 
.c_score-board-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.p_score-board, 
.c_score-board {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    width: 100%;
    height: 100%;
}

.score-label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 36%;
    margin-top: 14px;

    font-size: 2.5rem;
    font-weight: 500;
    color: #ffffff;
    text-transform: uppercase;
}

.score {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 37%;
    margin-top: 11px;

    font-size: 3.8rem;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
}

.player-moves {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 25%;

    opacity: 0;
    transition: opacity .5s;
}

.player-moves h2 {
    margin: 10px;
    width: 90%;
    max-width: 600px;

    font-size: 2em;
    color: #ffffff;
    text-align: center;

    text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    background-image: linear-gradient(180deg, #354200, #216501, #3B4806);
    background-clip: text;
    -webkit-text-stroke-color: transparent;
    -webkit-text-stroke-width: calc(2.5em / 16);
    -webkit-background-clip: text;
}

.move {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 90%;
    max-width: 600px;
    height: 65%;
    margin: 10PX;
}

.pOptions {
    height: 100%;
}

.end-message {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 8%;

    top: 30vh;
    opacity: 0;
    transition: opacity .5s;

    font-size: 2.8rem;
    font-weight: 700;
    color: #ffffff;

    text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    background-image: linear-gradient(180deg, #354200, #216501, #3B4806);
    background-clip: text;
    -webkit-text-stroke-color: transparent;
    -webkit-text-stroke-width: calc(2.5em / 16);
    -webkit-background-clip: text;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5%;
    position: absolute;
    bottom: 0;

    font-size: .7rem;
    color: #9ec46d;
}

@media only screen and (max-width: 600px) {
    .myBtn {
        font-size: 1rem;
        width: 179.5px;
        height: 37px;
    }

    .title {
        font-size: 1.2rem;
        height: 15%;
    }

    .game-arena {
        height: 25%;
    }

    .round {
        height: 80%;
        font-size: 1.5rem;
        line-height: 1.2rem;
    }
    
    .round span {
        font-size: 3rem;
        line-height: 2rem;
    }

    .round-winner {
        font-size: 1.8rem;
    }

    .score-board {
        flex-direction: column;
        height: 40%;
        padding: 10px 0;
    }

    .vs-text {
        font-size: 2rem;
        height: auto;
    }

    .p_score-board-bg, 
    .c_score-board-bg {
        width: 90%;
        max-width: 230px;
    }

    .score-label {
        font-size: 1.6rem;
        margin: 8px 0;
    }

    .score {
        font-size: 2.2rem;
        margin: -4px;
    }

    .player-moves h2 {
        font-size: 1.5em;
    }

    .move {
        height: 50%;
    }

    .end-message {
        top: 20vh;
        font-size: 1.3rem;
    }
}

@media only screen and (min-width: 768px) {
    .score-label {
        font-size: 2.2rem;
        margin: 10px 0;
    }

    .score {
        font-size: 3.2rem;
        margin: -2px 0;
    }

    .end-message {
        height: 15%;
        top: 25vh;
        font-size: 2.5rem;
    }
}

@media only screen and (max-height: 600px) {
    .main {
        max-width: 600px;
    }

    .title {
        font-size: 1.5rem;
        height: 15%;
    }

    .game-arena {
        height: 25%;
        padding: 0 14%;
    }

    .player-move, 
    .computer-move {
    width: 200px;
    height: auto;
    }

    .round {
        width: 200px;
        height: 100%;
        font-size: 1.8rem;
        line-height: 2rem;
    }
    
    .round span {
        font-size: 3.5rem;
        line-height: 2rem;
    }

    .round-winner {
        font-size: 2.2rem;
    }

    .score-board {
        height: 40%;
        padding: 0 3%;
    }

    .vs-text {
        font-size: 2rem;
        height: auto;
    }

    .p_score-board-bg, 
    .c_score-board-bg {
        width: 90%;
        max-width: 230px;
    }

    .score-label {
        font-size: 1.6rem;
        margin-top: 8px;
    }

    .score {
        font-size: 2.2rem;
        margin-top: -4px;
    }

    .player-moves h2 {
        max-width: 300px;
        font-size: 1.5em;
    }

    .move {
        max-width: 300px;
        height: 50%;
    }
}

@media only screen and (min-width: 1200px) {
    .title {
        height: 15%;
    }

    .p_score-board-bg, 
    .c_score-board-bg {
        width: 90%;
        max-width: 400px;
    }

    .score-label {
        margin: 12px 0;
    }

    .score {
        margin: -2px 0;
    }
}